/*stil för sidan*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
}
h1{
    display: flex;
    justify-content: center;
}

/* Navbar-stil */
.navbar {
    background-color:black;
    padding: 12px 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: bisque;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.1s;
}

.navbar a:hover {
    color:red;
}
/*ugnsbild*/

#ugnbild{
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
#ugnbild img{
   display: block;
   width:100%;
   height:auto;
}
.bildtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    color: red;
    font-size: 60px;
    padding: 20px;
    margin: 0;
}
footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
  background-color: black;
}

footer h2 {
  color:bisque;
  font-size: 20px;
}

footer ul {
  color: bisque;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  font-size: 18px;
  margin: 3px 0px;
}

footer ul li a {
  color: bisque;
  text-decoration: none;
}

footer div {
  width: 250px;
}

@media screen and (max-width:768px){
    .bildtext{
        font-size: 18px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
    }
    }
    footer{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        align-items: center;

    }
    footer div{
        text-align: center;
        width: 320px;
        max-width: 300px;
    }
    div h2{
        color: red;
    }
